<!DOCTYPE html>
<html lang="en">
	
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=0.7"/>
	    <title>Vox</title>
	    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='icon.ico') }}" />

	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
	    <script src="{{ url_for('static',filename='index.js') }}"></script>
	</head>

	<body>
		<div class="container">
			<div id="message-container"></div>

			<div class="send">
				> <input id="input" spellcheck="false" autofocus/>
			</div>
		</div>
	</body>
</html>